<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Programming Blog</title>
        <link rel = "stylesheet" href = "/css/style.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="../script.js"></script>
    </head>
    <body>
        <%- include("../header"); %>
        <main>
            <h1 class = "language_title">Git & Heroku</h1>
            <div class = "explanation_box">
              <p class = "explanation_content">
                Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.<br>
                Heroku is a cloud platform that lets companies build, deliver, monitor and scale apps — we're the fastest way to go from idea to URL, bypassing all those infrastructure headaches.
              </p >
           </div>
            <%- include("languagemain"); %>
        </main>
        <footer>
            <p>COPYRIGHT</p>
        </footer>
      <script src = “/script.js”></script>
    </body>
</html>