<!DOCTYPE html>
<html>
    <%- include("../head") %>
    <body>
        <%- include("../header"); %>
        <main>
            <h1 class = "language_title">Git & Heroku</h1>
            <div class = "explanation_box">
              <p class = "explanation_content">
                Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.
              </p >
           </div>
            <%- include("languagemain"); %>
        </main>
        <footer>
            <p>COPYRIGHT</p>
        </footer>
      <script src = “/script.js”></script>
    </body>
</html>