<!DOCTYPE html>
<html>
    <%- include("../head"); %>
    <body>
        <%- include("../header"); %>
        <main>
            <h1 class = "language_title">Heroku</h1>
            <div class = "explanation_box">
              <p class = "explanation_content">
                Heroku is a cloud platform that lets companies build, deliver, monitor and scale apps — we're the fastest way to go from idea to URL, bypassing all those infrastructure headaches.
              </p >
           </div>
            <%- include("languagemain"); %>
        </main>
        <footer>
            <p>COPYRIGHT</p>
        </footer>
      <script src = “/script.js”></script>
    </body>
</html>