<!DOCTYPE html>
<html>
    <%- include("../head"); %>
    <body>
        <%- include("../header"); %>
        <main>
            <h1 class = "language_title">Node.js</h1>
            <div class = "explanation_box">
              <p class = "explanation_content">
                Node.js® is an open-source, cross-platform JavaScript runtime environment.
              </p >
              
           </div>
            <%- include("languagemain"); %>
        </main>
        <footer>
            <p>COPYRIGHT</p>
        </footer>
      <script src = “/script.js”></script>
    </body>
</html>