<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Programming Blog</title>
        <link rel = "stylesheet" href = "/css/style.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="../script.js"></script>
    </head>
    <body>
        <%- include("../header"); %>
        <main>
            <h1 class = "language_title">React</h1>
            <div class = "explanation_box">
              <p class = "explanation_content">
                React makes it painless to create interactive UIs. Design simple views for each state in your application, and React will efficiently update and render just the right components when your data changes.
              </p >
           </div>
            <%- include("languagemain"); %>
        </main>
        <footer>
            <p>COPYRIGHT</p>
        </footer>
      <script src = “/script.js”></script>
    </body>
</html>