<!DOCTYPE html>
<html>
  <%- include("../head"); %>
    <body>
        <%- include("../header"); %>
        <main>
            <h1 class = "language_title">Ruby</h1>
            <div class = "explanation_box">
              <p class = "explanation_content">Ruby is...
                A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.
              </p >
              
           </div>
            <%- include("languagemain"); %>
        </main>
        <footer>
            <p>COPYRIGHT</p>
        </footer>
      <script src = “/script.js”></script>
    </body>
</html>