<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Programming Blog</title>
        <link rel = "stylesheet" href = "/css/style.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="/script.js"></script>
    </head>
    <body>
        <%- include("header"); %>
        <main>
          <div class = main_language>
            <ul class = language_list>
                <li class = language_item>
                    <div class = language_box>
                      <div class = language_img_box>
                        <img src = "pictures/languages/ruby.png" class = language_img>
                      </div>
                      <a href = "/languages/ruby" class = "language_title">Ruby</a>
                    </div>
                </li>
                <li class = language_item>
                    <div class = language_box>
                     <div class = language_img_box>
                        <img src = "pictures/languages/javascript.png" class = language_img>
                     </div>
                     <a href = "/languages/javascript" class = "language_title">Javascript</a>
                    </div>
                </li>
                <li class = language_item>
                    <div class = language_box>
                     <div class = language_img_box>
                        <img src = "pictures/languages/java.jpeg" class = language_img>
                     </div>
                     <a href = "/languages/java" class = "language_title">Java</a>
                    </div>
                </li>
                <li class = language_item>
                    <div class = language_box>
                     <div class = language_img_box>
                        <img src = "pictures/languages/python.jpeg" class = language_img>
                     </div>
                     <a href = "/languages/python" class = "language_title">Python</a>
                    </div>
                </li>
                <li class = language_item>
                    <div class = language_box>
                     <div class = language_img_box>
                        <img src = "pictures/languages/php.png" class = language_img>
                     </div>
                     <a href = "/languages/php" class = "language_title">PHP</a>
                    </div>
                </li>
                <li class = language_item>
                    <div class = language_box>
                     <div class = language_img_box>
                        <img src = "pictures/languages/node.jpeg" class = language_img>
                     </div>
                     <a href = "/languages/node" class = "language_title">Node.js</a>
                    </div>
                </li>



            </ul>
          </div>
           
        </main>
        <footer>
            <p>COPYRIGHT</p>
        </footer>
        <script src = “/script.js”></script>
    </body> 
</html>