<!DOCTYPE html>
<html>
  <%- include("head") %>
    <body>
        <%- include ("header"); %>
        <main>
          <% if(errors.length > 0){ %>
            <ul class = "error_box">
             <% errors.forEach((error => { %>
              <li class = "error_message"><%= error %></li>
             <% })) %> 
            </ul>
          <% } %>
          <form action = "/login" method = "POST" class = "login_form">
            <div class = "login_box">
             <p class = "login_title">Email Address</p>
             <input type = "text" name = "email" class = "login_input">
            </div>
            <div class = "login_box">
             <p class = "login_title">Password</p>
             <input type = "password" name = "password" class = "login_input">
            </div>
            <div class = "login_btn">
             <input type = "submit" value = "Log In" class = "login_send_btn">
            </div>
          </form>  
        </main>
        <footer>
            <p>COPYRIGHT</p>
        </footer>
        <script src = “/script.js”></script>
    </body>     
</html>