<select name = "category" class = "select_tag">
    <option>Ruby</option>
    <option>Javascript</option>
    <option>Java</option>
    <option>Python</option>
    <option>PHP</option>
    <option>Node</option>
    <option>React</option>
    <option>HTML & CSS</option>
    <option>SQL</option>
    <option>Saas</option>
    <option>Git&Heroku</option>
    <option>Figma</option>
    <option>Command Line</option>
  </select>