a{
    text-decoration: none;
}

li{
    list-style:none;
}


/* header */

header{ 
    padding: 5px 10px ;
    background-image: url(../pictures/main_background.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.header_bar{
    display: flex;
    justify-content: space-between;
}

.title_box{
    display: flex;
    align-items: center;
    width: 33%;
}

.title{
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.search_box{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_bar{
    width: 200px;
    font-size: 16px;
    display: inline-block;
    margin: auto;
}

.search_btn{
    display: inline-block;
    height: 30px;
    margin: 0;
}

.menu_box{
    width: 33%;
}

.menu_bar{
    display: flex;
    justify-content: space-around;
    
}


.welcome{
    color: #ffffff ;
    font-size: 15px;
}

.user_btn{
    margin: 0 0 0 20px;
    color: #ffffff ;
    font-size: 15px;
}

.menu_list{
    display: inline-block;
    margin-left: 15px;

}

.list{
    color: #ffffff;
    font-size: 15px;
}

.user_guest{
    color: #ffffff ;
    font-size: 15px;
    margin: 0;
}

/* index page */

main{
    height: 100%;
    padding: 10px;
    background-color: #ffffff;
}

.main_language{
    width: 50%;
    margin: auto;
}

.language_list{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    flex-wrap: wrap;
}

.language_list::after{
    display: block;
    content:"";
    width: 30%;
}

.language_item{
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 10px 10px 20px #AAAAAA;
}

.language_box{
    width: 100%;
    background-color: #ffffff;
    text-align: center;
}

.language_img_box{
    height: 200px;
    width: 100%;
}

.language_img{
    height: 100%;
    width: 100%;
}

.language_box_bottom{
    display: flex;
    justify-content: space-around;
}

.language_box_bottom::before{
    display: block;
    content:"";
    width: 33%;
}
.language_title{
   color: black;
   font-weight: 700;
   display: inline-block;
   width: 33%;
}

.posts_count{
    margin: 0;
    display: inline-block;
    width: 33%;
}

/* each language page */

.language_title{
    text-align: center;
    margin: 0;
}

.explanation_box{
    margin: auto;
    width: 50%;
}

.explanation_content_highlight{
    margin-left: 20px;
    font-weight: 700;
    font-style: italic;
}

.article_list{
    padding-left: 0;
    width: 50%;
    margin: 0 auto;
}

.article{
    padding: 5px 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #AAAAAA;
}

.article_title{
    text-align: center;
}

.article_username{
    text-align: right;
    margin: 0 10px 0 0;
}

.article_summary{
    text-align: center;
}

.article_content{
    white-space: pre-wrap;
}

.detail_btn{
    text-decoration: none;
    text-align: right;
    display: block;
}

.page_list{
    display: flex;
    padding-left: 0;
    margin: 20px auto 0;
    justify-content: center;
}

.page_number{
   margin-right: 5px;
   border:1px #ccc solid;color:#000053;
   border-radius: 5px / 5px;
   padding:10px 15px;
   background-color: #ffffff;
}

.current_page_number{
    margin-right: 5px;
    border:1px #ccc solid;color:#000053;
    border-radius: 5px / 5px;
    padding:10px 15px;
    background-color: #cccccc;
}

.page_link{
    text-decoration: none;
    color: #000000	;
}

/* Article (detail) */

.article_detail{
    width: 50%;
    margin: auto;
    padding: 5px 10px;
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #AAAAAA;
}

.article_btn_list{
    display: flex;  
}

.edit_btn{
    height: 30px;
    width: 70px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 20px;
} 

.edit_btn a{
    color: black;
}

.delete_btn{
    height: 30px;
    width: 70px;
    display: inline-block;
    border-radius: 10px;
}


/* New form */

.new_form{
    height: 100%;
    width: 60%;
    margin: auto;
}

.form_title_box{
    display: flex;
    justify-content: right;
    height: 30px; 
    margin-bottom: 50px;
    margin-right: 200px;
    font-size: 18px;
}

.form_title{
    font-size: 20px;
    margin: auto 30px auto 0;
}

.form_title_input{
    width: 70%;
}

.form_text_box{
    display: flex;
    justify-content: right;
    margin-bottom: 50px;
    margin-right: 200px;
    font-size: 18px;
}

.form_textarea{
    width: 70%;
    min-height: 400px;
    display: block;
    resize: none;
}

.select_and_btn{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.select_tag{
    height: 100%;
    width: 200px;
    display: inline-block;
}

.post_btn{
    background-color: #CCCCCC;
    height: 100%;
    width: 100px;
    border-radius: 5px;
    display: inline-block;
}

 /* Sign Up */

 .signup_form{
    height: 100%;
    width: 50%;
    margin: auto;
 }
 .signup_box{
    display: flex;
    height: 30px;
    justify-content: right;
    margin-bottom: 40px;
    margin-right: 100px;
}   

.signup_title{
    margin: auto 20px auto 0;
    font-size: 20px;
}

.signup_input{ 
    width   : 75%;
}

.signup_btn{
    display: flex;
    justify-content: center;
}

.signup_send_btn{
    margin: auto;
    background-color: #CCCCCC;  
    height: 30px;
    width: 100px;
    border-radius: 5px;
    display: inline-block;
}

.error_box{
    width: 20%;
    margin: 0 auto 20px;
    border: red solid 3px ;
    padding: 10px 0 10px 0;
}

.error_message{
    display: block;
    text-align: center;
    color: red;
    margin-bottom: 5px;
}


/* Log In */

.login_form{
    height: 100%;
    width: 50%;
    margin: auto;
 }
 .login_box{
    display: flex;
    height: 30px;
    justify-content: right;
    margin-bottom: 40px;
    margin-right: 100px;
}   

.login_title{
    margin: auto 20px auto 0;
    font-size: 20px;
}

.login_input{ 
    width   : 75%;
}

.login_btn{
    display: flex;
    justify-content: center;
}

.login_send_btn{
    margin: auto;
    background-color: #CCCCCC;  
    height: 30px;
    width: 100px;
    border-radius: 5px;
    display: inline-block;
}

/* User Page */
.user_title{
    text-align: center;
    margin-bottom: 20px;
}

.user_article_title{
    text-align: center;
    margin-bottom: 0;
}

.article_category{
    text-align: center;
    margin: 0 auto 10px;
}


/* footer */
footer{
    text-align: center;
    background-image: url(../pictures/main_background.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

footer p{
    margin: 0;
    color: #ffffff;
}